.btn_snake {
  cursor: pointer;
}
.hover-underline-animation {
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: -3px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.btn_snake:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
